.container {
    display: flex;
    gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.texte {
    align-self: center;
    width: 150%;
    margin-left: 10px;
}

.liste {
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

